<div class="landing" [class.landing--exiting]="exiting">
  <div class="landing__glow"></div>
  <div class="landing__shimmer" [class.landing__shimmer--active]="exiting"></div>

  <div
    class="landing__content"
    [class.landing__content--exit]="exiting">
    <div class="landing__logo-box">
      <img src="assets/logo.png" alt="Aura Automotive" class="landing__logo">
    </div>

    <h1 class="landing__title">A U R A</h1>
    <p class="landing__tagline">Premium Auto Care Rewards</p>

    <div class="landing__loader">
      <div class="landing__loader-track">
        <div class="landing__loader-fill"></div>
      </div>
    </div>
  </div>
</div>
